body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
    letter-spacing: 1px;
}

#home {
    background-size: cover;
    background-position: center;
}

.profile-picture {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 4px solid #4B5563;
    background: url('../images/profile.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#dynamicText {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.edu-font {
    font-family: 'Edu AU VIC WA NT Arrows', cursive;
    font-weight: 700;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }  